#board {
  margin-top: 10px;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: red;
  }
}

.hiddenDiv{
  display: none;
}

.oColor {
  color: red;
}

.winner{
  padding: 3em;
  color: orange;
}
.xColor {
  color: #0DD754;  /* #7FFF00; */
  background-color: yellow;
}
.clicked{

}