#board {
  margin-top: 10px;
}

#playerBoard div{
  font-size: 2em;
}
#playerBoard div span{
  color:purple;
  font-size: 1.5em;
  font-weight: bold;
}

.box {
  border: 1px solid black;
  height: 150px;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  /*color: red; */
  }
}

.hideTag{
  display: none;
}

.oColor {
  color: red;
}
.winnerColor{
  border: 5px solid green;
  background-color: white;
}
.winner{
  padding: 3em;
  color: orange;
}
.winnerBoxStyle{
  font-size: 1em;
  font-weight: bold;
  color: green;
}
.winnerHeader{
  min-height: 4em;
}
.xColor {
  color: #0DD754;  /* #7FFF00; */
}
.clicked{

}